.num{
    display: flex;
    align-items: center;
    background-color: #02735E;
    color: white;
    flex-grow: 2;
    width: 2rem;
    max-width: 3rem;
    border-radius: 6rem;
}

.linha {
    display: flex;
    justify-content: space-around;
}

.batata{
    min-height: 100%;
}

.topicos-cinematica{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Lato', 'Noto Sans', sans-serif;
}

.titulo{
    flex-grow: 1;
    margin: 0 0 0 1rem;
}

.texto-claro{
    color:white;
}