.linha {
    display: flex;
    justify-content: space-around;
}

.coluna_topo{
    display: flex;
    flex-direction: column;
}

.post-it{
    background-color: #025959;
    color: white;
    width: 9rem;
    height: 8.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.area{
    margin: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Lato', 'Noto Sans', sans-serif;
}

.formula{
    margin: 0.5rem;
    font-family: 'Noto Serif', 'Kaisei HarunoUmi', serif;
}

.cadeado{
    align-self: center;
}