.header-materias{
    height: 4rem;
}

.main-materias{
    align-items: center;
}

.materia{
    width:75%;
    background-color: #02735E;
    padding: 1.5rem;
    padding-left: 2rem;
    border-style: solid;
    border-bottom-width: 0.1rem;
    border-color: #014034;
    display: flex;
    flex-direction: row;
    font-family: 'Noto Serif', 'Kaisei HarunoUmi', serif;
}

.search-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.fonte_principal {
    font-family: 'Lato', 'Noto Sans', sans-serif;
}

.texto-claro{
    color:white;
}
