.title-topic{
    width: 70%;
    font-size: 1.3em;
    display: flex;
    text-align: center;
    font-family: 'Lato', 'Noto Sans', sans-serif;
}

.body-topic{
    margin: 0.3rem;
    font-size: 1.1em;
    display: unset;
    font-family: 'Noto Serif','Kaisei HarunoUmi', serif;
    background-color: #F2EBDC;
}

.body-topic p{
    margin-bottom: 0.9rem;
    display: block;
    text-align: justify;
}

.body-topic .formula-topic{
    margin: 1.5rem 0rem;
    text-align: center;
}

.body-topic .image-topic{
    float: right;
    width: 5rem;
    height: 5rem;
}

.body-topic .references-topic{
    margin-top: 2rem;
    float: right;
    font-size: 0.7em;
}